body {
    max-width: 600px;
    margin: 20px auto;
    font-family: sans-serif;
    background-color: aliceblue;
    color: #333333;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.log-input {
    background-color: whitesmoke;
    border: 1px solid#ccc;
    padding: 20px;
}

#record-list {
    background-color: whitesmoke;
    border: 1px solid#ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;

}

#save-btn {
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    cursor: pointer;
}

#log-btn {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    cursor: pointer;
}